@charset "UTF-8";
/* -----------------------------------------------------------------
   reset
----------------------------------------------------------------- */
@font-face {
  font-family: "Palatino";
  src: url(/fonts/pala.woff2) format("woff2"), url(/fonts/pala.woff) format("woff");
}
html {
  font-size: 62.5%;
  touch-action: manipulation;
  box-sizing: border-box;
}

body {
  font: 13px/1.231;
  *font: x-small;
  background: #fff;
  color: #000;
  font-family: YakuHanJPs, "Palatino", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Open Sans", "Hiragino Sans", "メイリオ", sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
i,
iframe,
ins,
kbd,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
tbody,
tfoot,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease-in-out;
  pointer-events: auto;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

img {
  display: block;
  width: 100%;
}

/*--------------------------------------*
 * video
 *--------------------------------------*/
/*--------------------------------------*
 * Common
 *--------------------------------------*/
a {
  display: block;
}

.line_inner {
  width: 100%;
  height: 4.6037165225vw;
  max-height: 60px;
  background-color: #000;
  position: absolute;
}
.line_inner_top {
  top: 0;
}
.line_inner_bottom {
  bottom: 0;
}

h2 {
  font-weight: 300;
}

img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

/*--------------------------------------*
 * header
 *--------------------------------------*/
#header .menu {
  height: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  z-index: 99;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
#header .menu__line {
  background: #fff;
  display: block;
  height: 1px;
  position: absolute;
  transition: transform 0.3s;
  width: 70%;
  left: 7px;
}
#header .menu__line--top {
  top: 10px;
}
#header .menu__line--center {
  top: 19px;
}
#header .menu__line--bottom {
  bottom: 10px;
}
#header .menu__line--top.active {
  top: 18px;
  transform: rotate(45deg);
}
#header .menu__line--center.active {
  transform: scaleX(0);
}
#header .menu__line--bottom.active {
  bottom: 20px;
  transform: rotate(135deg);
}
#header .gnav {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 98;
}
#header .gnav__wrap {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
#header .gnav__menu__item {
  margin: 40px 0;
}
#header .gnav__menu__item a {
  color: #fff;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: 0.5s;
}
#header .gnav__menu__item a:hover {
  color: #666;
}

.title_area {
  margin: 0 auto 3.2vw;
  text-align: center;
  position: relative;
  top: 2vw;
  background: #fff;
}
.title_area .title {
  font-size: clamp(3.2rem, 2.7777777778vw, 4rem);
  font-weight: 500;
}
.title_area .desc {
  margin-top: 0.44vw;
  font-size: clamp(1.4rem, 0.9722222222vw, 1.4rem);
}

.section {
  height: 86vh;
}

/*--------------------------------------*
 * hero
 *--------------------------------------*/
#hero {
  text-align: center;
  background-image: url(../image/top/top_circle.png), url(../image/top/top_img.png);
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position: center;
  color: #fff;
}
#hero .main_title {
  font-size: clamp(50px, 13.3414074341vw, 153.34px);
  font-weight: 300;
  letter-spacing: 2.4rem;
  line-height: 1;
}
#hero .sub {
  font-size: clamp(16px, 1.8566951522vw, 21.34px);
  padding: 0 1.2rem;
}

/*--------------------------------------*
 * works
 *--------------------------------------*/
.works_section {
  position: relative !important;
}

.video_part {
  margin: auto;
  position: relative;
  background-color: #000;
  z-index: 4;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.video_part a {
  opacity: 0.8;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video_part a img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video_part:hover a {
  opacity: 0.6;
}
.video_part .name_area {
  position: absolute;
  right: 0;
  top: 1.4vw;
  writing-mode: vertical-rl;
  color: #fff;
  font-size: clamp(20px, 2.3204339133vw, 26px);
}
.video_part .circle {
  border-radius: 50%;
  background: #1C2D3A;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 50;
}

.purchase_btn a {
  color: #1C2D3A;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#worksSection1 {
  background-color: #7F7F7F;
}
#worksSection1 .container {
  padding: 0 7.5304040357vw;
  max-width: 1200px;
  margin: 5vw auto 0;
}
#worksSection1 .video_part {
  width: 84.9720799684vw;
  height: 51.1947580989vw;
  max-height: 740px;
  margin-top: 5vw;
  max-width: 1200px;
  margin: auto;
}
#worksSection1 .video_part .circle {
  width: 13.3508910223vw;
  height: 13.3508910223vw;
  top: -7.6vw;
  max-width: 160px;
  max-height: 160px;
}
#worksSection1 .purchase_btn {
  font-size: clamp(20px, 4.6408678266vw, 53.34px);
  height: 6.4780737701vw;
}
#worksSection1 .purchase_btn a {
  padding-top: 0.7vw;
}

#worksSection2 .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 7.9249735069vw;
  max-width: 1200px;
  margin: -3vw auto 0;
}
#worksSection2 .video_item {
  max-width: 45%;
  margin-top: 5.6vw;
}
#worksSection2 .video_part {
  width: 38.145340774vw;
  height: 21.407416688vw;
  max-width: 100%;
  max-height: 300px;
}
#worksSection2 .video_part .name_area {
  position: absolute;
  right: 0;
  top: 1.4vw;
  writing-mode: vertical-rl;
  color: #fff;
  font-size: clamp(10px, 1.0440647529vw, 18px);
}
#worksSection2 .video_part .circle {
  width: 7.3001877576vw;
  height: 7.3001877576vw;
  max-height: 100px;
  max-width: 100px;
  top: -4vw;
}
#worksSection2 .purchase_btn a {
  padding-top: 0.7vw;
  font-size: clamp(16px, 2.7841726744vw, 32px);
  width: 38.145340774vw;
  height: 4.3077241651vw;
  max-width: 100%;
  max-height: 50px;
  margin: auto;
}

#worksSection3 .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1.5783648902vw;
  max-width: 1600px;
  margin: -4vw auto 0;
}
#worksSection3 .video_item {
  max-width: 31%;
  margin-top: 6vw;
}
#worksSection3 .video_part {
  margin: auto;
  width: 31.2397224876vw;
  height: 18.8753856514vw;
  max-width: 100%;
  max-height: 24vh;
}
#worksSection3 .video_part .name_area {
  font-size: clamp(12px, 0.8126303993vw, 18px);
}
#worksSection3 .video_part .circle {
  width: 5.8532880209vw;
  height: 5.8532880209vw;
  top: -3.2vw;
  max-width: 80px;
  max-height: 80px;
}
#worksSection3 .purchase_btn a {
  padding-top: 0.7vw;
  font-size: clamp(13px, 2.3204339133vw, 26.67px);
  width: 31.2397224876vw;
  height: 3.9460427336vw;
  max-width: 100%;
  max-height: 50px;
  margin: auto;
}

.video_playbtn {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-52%, -50%);
  z-index: 6;
  width: 42px;
  -webkit-transform: translate(-52%, -50%);
  -moz-transform: translate(-52%, -50%);
  -ms-transform: translate(-52%, -50%);
  -o-transform: translate(-52%, -50%);
}

/*--------------------------------------*
 * Campaign
 *--------------------------------------*/
#campaignSec {
  background-color: #3A3738;
}
#campaignSec .inner {
  padding: 0 7.5304040357vw;
  max-width: 1800px;
  margin: auto;
}
#campaignSec .inner .title_area {
  background: transparent;
  color: #fff;
  font-size: clamp(20px, 3.7125202505vw, 42.67px);
  margin-bottom: 3.9371681832vw;
}
#campaignSec .banner_content {
  position: relative;
  z-index: 30;
  max-width: 1600px;
  margin: auto;
}
#campaignSec .banner_content .line_banner {
  width: 100%;
  height: 48.378px;
  background-color: #000;
  position: absolute;
  z-index: 40;
}
#campaignSec .banner_content .line_banner_top {
  top: 0;
}
#campaignSec .banner_content .line_banner_bottom {
  bottom: 0;
}
#campaignSec .banner_content .banner_item {
  position: relative;
  height: 28.9049326839vw;
  max-height: 500px;
}
#campaignSec .banner_content .banner_item img {
  height: 100%;
}
#campaignSec .banner_content .banner_item .campaign_text {
  color: #fff;
  position: absolute;
  font-size: clamp(14px, 1.6243907447vw, 30px);
  z-index: 50;
  top: 51%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#campaignSec .banner_content .banner_item .campaign_text1 {
  right: 3.5%;
}
#campaignSec .banner_content .banner_item .campaign_text2 {
  left: 3.5%;
}

/*--------------------------------------*
 * Client
 *--------------------------------------*/
#clientSec .title_area {
  font-size: clamp(20px, 3.7125202505vw, 42.67px);
  margin-bottom: 4vw;
}
#clientSec .grid_wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 0.5vw;
  grid-row-gap: 0.5vw;
  padding: 0 7.5304040357vw;
  max-width: 1600px;
  margin: auto;
}
#clientSec .grid_wrapper .grid_item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 50;
  overflow: hidden;
  text-align: center;
}
#clientSec .grid_wrapper .grid_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 70;
}
#clientSec .grid_wrapper .grid_item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover !important;
  z-index: 60;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
#clientSec .grid_wrapper .grid_item_01 {
  grid-area: 1/1/2/7;
  height: 17.9789583333vw;
}
#clientSec .grid_wrapper .grid_item_01::after {
  background: url(../image/top/company_big.jpg) no-repeat center left;
  z-index: 60;
}
#clientSec .grid_wrapper .grid_item_02 {
  grid-area: 2/1/3/4;
  height: 13.4120833333vw;
}
#clientSec .grid_wrapper .grid_item_02::after {
  background: url(../image/top/company_big.jpg) no-repeat center left;
}
#clientSec .grid_wrapper .grid_item_03 {
  grid-area: 2/4/3/7;
  height: 13.4120833333vw;
}
#clientSec .grid_wrapper .grid_item_03::after {
  background: url(../image/top/company_big.jpg) no-repeat center left;
}
#clientSec .grid_wrapper .grid_item_04 {
  grid-area: 3/1/4/3;
  height: 13.4120833333vw;
}
#clientSec .grid_wrapper .grid_item_04::after {
  background: url(../image/top/company_big.jpg) no-repeat center left;
}
#clientSec .grid_wrapper .grid_item_05 {
  grid-area: 3/3/4/5;
  height: 13.4120833333vw;
}
#clientSec .grid_wrapper .grid_item_05::after {
  background: url(../image/top/company_big.jpg) no-repeat center left;
}
#clientSec .grid_wrapper .grid_item_06 {
  grid-area: 3/5/4/7;
  height: 13.4120833333vw;
}
#clientSec .grid_wrapper .grid_item_06::after {
  background: url(../image/top/company_big.jpg) no-repeat center left;
}
#clientSec .grid_wrapper .grid_item p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  width: 100%;
  font-size: clamp(1.8rem, 2.2222222222vw, 3.6rem);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 90;
}
#clientSec .grid_wrapper .grid_item:hover::after {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/*--------------------------------------*
 * Client
 *--------------------------------------*/
#aboutFocus {
  background-color: #182531;
  color: #BFBFBF;
}
#aboutFocus .inner {
  padding: 0 8.1889583333vw;
}
#aboutFocus .inner .title {
  text-align: center;
}
#aboutFocus .inner .title h2 {
  font-size: clamp(36px, 7.4076388889vw, 110px);
  line-height: 1;
}
#aboutFocus .inner .title p {
  font-size: clamp(12px, 1.2763691604vw, 18px);
}
#aboutFocus .inner .content .about {
  font-size: clamp(22px, 3.2487814894vw, 40px);
  text-align: center;
  margin-top: 5.270960905vw;
  position: relative;
}
#aboutFocus .inner .content .about::after {
  content: "";
  width: 3.2883689446vw;
  height: 1px;
  display: inline-block;
  background-color: #BFBFBF;
  position: absolute;
  bottom: -0.8700539607vw;
  left: calc(50% - 1.6441844723vw);
}
#aboutFocus .inner .content .text {
  font-size: clamp(14px, 2.0881295058vw, 26px);
  margin-top: 2.828023394vw;
  line-height: 1.7;
}

/*--------------------------------------*
 * Operation
 *--------------------------------------*/
#operationSec {
  background: url(../image/top/operation.jpg);
  color: #fff;
}
#operationSec .container {
  padding: 0 4.3406122048vw;
}
#operationSec .container .title {
  font-weight: 300;
  font-size: clamp(20px, 2.7841726744vw, 48px);
  margin-bottom: 1.7510706014vw;
}
#operationSec .container .flow_part {
  font-size: clamp(14px, 2.0881295058vw, 32px);
  line-height: 1.7;
}

/*--------------------------------------*
 * contact
 *--------------------------------------*/
#contactSec {
  background-color: #7F807F;
  color: #fff;
  position: relative;
}
#contactSec .title_area {
  background: transparent;
  position: absolute;
  top: 11.6079989281vw;
  left: 50%;
  transform: translateX(-50%);
}
#contactSec .title_area a {
  color: #fff;
  font-size: clamp(32px, 7.6564748546vw, 100px);
}
#contactSec .title_area p {
  font-size: clamp(20px, 3.1321942587vw, 44px);
}
#contactSec .company_area {
  position: absolute;
  bottom: 4.3735002445vw;
  left: 2.6635831954vw;
  font-size: clamp(16px, 1.8566951522vw, 30px);
}
#contactSec .company_area .name {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: clamp(18px, 2.7841726744vw, 32px);
}
#contactSec .company_area .sub {
  margin-top: 1.3153475779vw;
}
#contactSec .company_area .detail {
  margin-top: 1.777781258vw;
}
#contactSec .copyright {
  font-family: Calibri, Candara, Segoe, "Segoe UI";
  font-weight: 600;
  position: absolute;
  bottom: 1.5125888108vw;
  right: 2.1702625997vw;
  font-size: clamp(12px, 1.218075545vw, 20px);
}

.vp-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.video-modal {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  display: block;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75));
  text-align: right;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.video-modal.on {
  opacity: 1;
  visibility: visible;
  display: block;
}

#bg {
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  transform: translate(-50%, -50%);
}

.link-block {
  position: absolute;
  z-index: 9997;
  width: 100vw;
  height: 100vh;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.video-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  width: 100%;
  height: 100%;
}

.embed {
  max-width: 1000px;
  width: 100%;
  height: 560px;
  max-height: 90%;
  margin: 0 40px;
  position: relative;
  background-color: #000;
}

.btn {
  position: relative;
  z-index: 19;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-self: center;
  flex: 1;
  border-radius: 100%;
  background-color: transparent;
  background-image: url(https://assets.website-files.com/5ccf6f1746e9ce0c2baf7fb8/5cd1b0f2755d00d873eb843f_Play-button.svg);
  background-position: 50% 50%;
  background-size: 17px;
  background-repeat: no-repeat;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  position: relative;
}

.btn.pause {
  position: absolute;
  top: -30px;
  right: -86px;
  display: block;
  width: 100px;
  align-self: flex-start;
  background-image: none;
}
.btn.pause::before, .btn.pause::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 30px;
  background: #fff;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.btn.pause::before {
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
}
.btn.pause::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 600px) {
  #hero .main_title {
    letter-spacing: 1.6rem;
    line-height: 1.3;
  }
  #worksSection2 .video_item {
    max-width: 100%;
    width: 100%;
  }
  #worksSection2 .video_part {
    width: 80%;
    height: 16vh;
  }
  #worksSection2 .purchase_btn a {
    width: 80%;
    height: 3vh;
  }
  #worksSection3 .video_item {
    max-width: 50%;
    width: 50%;
  }
  #worksSection3 .video_part {
    width: 90%;
    height: 13vh;
  }
  #worksSection3 .purchase_btn a {
    width: 90%;
    height: 3vh;
  }
  #campaignSec .inner .title_area {
    margin-bottom: 4vh;
  }
  #campaignSec .banner_content .line_banner_top {
    height: 3vh;
  }
  #campaignSec .banner_content .line_banner_bottom {
    height: 3vh;
  }
  #campaignSec .banner_content .banner_item {
    height: 30vh;
    max-height: auto;
  }
  #clientSec .grid_wrapper {
    height: 70vh;
  }
  #clientSec .grid_wrapper .grid_item {
    height: 23vh !important;
  }
  #contactSec .company_area {
    bottom: 9vw;
  }
}
@media screen and (min-width: 1360px) {
  #worksSection1 .video_part .circle {
    top: -80px;
  }
  #worksSection2 .video_part {
    max-height: 29vh;
  }
  #worksSection2 .video_part .circle {
    top: -56px;
  }
  #worksSection3 .video_part .circle {
    top: -50px;
  }
}
@media screen and (max-height: 1000px) {
  #worksSection1 .video_part {
    max-height: 60vh;
  }
  #worksSection2 .video_part {
    max-height: 24vh;
  }
  #worksSection3 .video_part {
    max-height: 24vh;
  }
}
/*# sourceMappingURL=style.css.map */