@charset "UTF-8";
/* -----------------------------------------------------------------
   reset
----------------------------------------------------------------- */
html {
  font-size: 62.5%;
  touch-action: manipulation;
  box-sizing: border-box;
}

body {
  font: 13px/1.231;
  *font: x-small;
  background: #fff;
  color: #000;
  font-family: YakuHanJPs, "Cormorant", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Open Sans", "Hiragino Sans", "メイリオ", sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
i,
iframe,
ins,
kbd,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
tbody,
tfoot,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease-in-out;
  pointer-events: auto;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

img {
  display: block;
  width: 100%;
}

/*--------------------------------------*
 * video
 *--------------------------------------*/
/*--------------------------------------*
 * Common
 *--------------------------------------*/
.inner {
  padding: 0 5%;
  margin: auto;
  max-width: 1360px;
  max-width: 156.3636363636vh;
  position: relative;
}

.title_area {
  background: transparent !important;
}
.title_area h2 {
  background: transparent;
  font-weight: 500;
  font-size: clamp(4rem, 3.8888888889vw, 5.6rem);
}

/*--------------------------------------*
 * header
 *--------------------------------------*/
#header .menu {
  height: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  z-index: 99;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
#header .menu__line {
  background: #000;
  display: block;
  height: 1px;
  position: absolute;
  transition: transform 0.3s;
  width: 70%;
  left: 7px;
}
#header .menu__line--top {
  top: 10px;
}
#header .menu__line--center {
  top: 19px;
}
#header .menu__line--bottom {
  bottom: 10px;
}
#header .menu__line--top.active {
  top: 18px;
  transform: rotate(45deg);
}
#header .menu__line--center.active {
  transform: scaleX(0);
}
#header .menu__line--bottom.active {
  bottom: 20px;
  transform: rotate(135deg);
}
#header .gnav {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 98;
}
#header .gnav__wrap {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
#header .gnav__menu__item {
  margin: 40px 0;
}
#header .gnav__menu__item a {
  color: #fff;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 40px;
  text-decoration: none;
  transition: 0.5s;
}
#header .gnav__menu__item a:hover {
  color: #666;
}

.title_area {
  margin: 0 auto 3.2vw;
  text-align: center;
  position: relative;
  top: 2vw;
  background: #fff;
}
.title_area .title {
  font-size: clamp(3.2rem, 2.7777777778vw, 4rem);
  font-weight: 500;
}
.title_area .desc {
  margin-top: 0.44vw;
  font-size: clamp(1.4rem, 0.9722222222vw, 1.4rem);
}

/*--------------------------------------*
 * works
 *--------------------------------------*/
.works_section {
  height: 86vh;
}

.works_item {
  width: 21.6%;
  margin-bottom: 4.4vw;
  position: relative;
}

.works_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 100vw;
  padding: 0 5%;
}

.swiper {
  position: relative;
  z-index: 80 !important;
}
.swiper a {
  display: block;
  transition: all 0.5s;
}
.swiper a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.swiper-wrapper {
  position: relative;
  max-width: 100%;
  height: 100%;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  position: relative;
}

.waku {
  content: "";
  position: absolute;
  max-width: 336px;
  width: 109%;
  max-height: calc(170px + 0.88vw);
  height: 10.99999vw;
  border: 1px solid #000;
  top: 0;
  left: -5%;
  z-index: 30;
}

.swiper-slide {
  position: relative;
  width: 20vw;
  margin: 0.88vw auto 0;
  z-index: 100;
}

.video_part {
  position: relative;
  z-index: 4;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.video_playbtn {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-52%, -50%);
  z-index: 6;
  width: 42px;
  -webkit-transform: translate(-52%, -50%);
  -moz-transform: translate(-52%, -50%);
  -ms-transform: translate(-52%, -50%);
  -o-transform: translate(-52%, -50%);
}

.swiper-pagination {
  position: relative !important;
  bottom: -1.2vw !important;
  z-index: 40 !important;
  margin-bottom: 1.8vw;
}
.swiper-pagination .swiper-pagination-bullet {
  background: #000;
  width: 6px;
  height: 6px;
}

.desc_area {
  padding: 0 0.4vw;
}
.desc_area .comp_name {
  font-size: clamp(1.6rem, 1.1111111111vw, 1.6rem);
  letter-spacing: 0.05rem;
}
.desc_area .use {
  display: inline-block;
  padding: 0.044vw 0.2vw;
  font-size: clamp(1rem, 0.6944444444vw, 1.4rem);
  background: #D9D9D9;
  margin-top: 0.7vw;
}
.desc_area .use_text {
  font-size: clamp(1rem, 0.6944444444vw, 1.4rem);
  margin-top: 0.4vw;
  margin-left: 0.2vw;
}
.desc_area .link_btn {
  font-size: clamp(1.2rem, 0.8333333333vw, 1.4rem);
  text-align: center;
  border: 1px solid #717171;
  padding: 0.4vw 2vw;
  margin-top: 1.2vw;
}

.vp-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vp-placeholder {
  width: 100%;
  max-height: 100%;
  height: 56.25vw;
  max-width: 177.7777777778vh;
  margin: auto;
}

.video-modal {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999;
  display: none;
  display: block;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75));
  text-align: right;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.video-modal.on {
  opacity: 1;
  visibility: visible;
  display: block;
}

#bg {
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  transform: translate(-50%, -50%);
}

.link-block {
  position: absolute;
  z-index: 9997;
  width: 100vw;
  height: 100vh;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.video-holder {
  position: fixed;
  z-index: 9999;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.embed {
  width: 100%;
  height: 100%;
}

.btn {
  position: relative;
  z-index: 19;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-self: center;
  flex: 1;
  border-radius: 100%;
  background-color: transparent;
  background-image: url(https://assets.website-files.com/5ccf6f1746e9ce0c2baf7fb8/5cd1b0f2755d00d873eb843f_Play-button.svg);
  background-position: 50% 50%;
  background-size: 17px;
  background-repeat: no-repeat;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.btn.pause {
  position: fixed;
  top: 4vw;
  right: 5vw;
  display: block;
  width: 20vw;
  align-self: flex-start;
  background-image: none;
}
.btn.pause::before, .btn.pause::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 30px;
  background: #fff;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.btn.pause::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.btn.pause::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*--------------------------------------*
 * campaign
 *--------------------------------------*/
#campaign_sec {
  background: #F2F2F2;
}
#campaign_sec .banner_content {
  margin-top: 6.9444444444vw;
}
#campaign_sec .banner_content .banner_item {
  max-width: 1113px;
  margin: 0 auto 2.4vw;
}

/*--------------------------------------*
 * clients
 *--------------------------------------*/
#clients_sec .grid_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0.4vw;
  grid-row-gap: 0.4vw;
  padding: 0 1vw;
  max-width: 156.3636363636vh;
  margin: auto;
}
#clients_sec .grid_wrapper .grid_item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  color: #fff;
  z-index: 60;
  overflow: hidden;
}
#clients_sec .grid_wrapper .grid_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 70;
}
#clients_sec .grid_wrapper .grid_item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover !important;
  z-index: 60;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#clients_sec .grid_wrapper .grid_item p {
  font-family: "游明朝", Yumincho;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  width: 100%;
  padding-left: 2vw;
  font-size: clamp(1.6rem, 1.3888888889vw, 2rem);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 90;
}
#clients_sec .grid_wrapper .grid_item:hover::after {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}
#clients_sec .grid_wrapper .grid_item01 {
  grid-area: 1/1/3/4;
  min-height: 386px;
}
#clients_sec .grid_wrapper .grid_item01::after {
  background: url(../image/grid/grid1.jpg) no-repeat center left;
}
#clients_sec .grid_wrapper .grid_item02 {
  grid-area: 1/4/2/5;
  min-height: 184px;
}
#clients_sec .grid_wrapper .grid_item02::after {
  background: url(../image/grid/grid2.jpg) no-repeat center left;
}
#clients_sec .grid_wrapper .grid_item03 {
  grid-area: 1/5/2/6;
  min-height: 184px;
}
#clients_sec .grid_wrapper .grid_item03::after {
  background: url(../image/grid/grid3.jpg) no-repeat center left;
}
#clients_sec .grid_wrapper .grid_item04 {
  grid-area: 2/4/3/5;
  min-height: 184px;
}
#clients_sec .grid_wrapper .grid_item04::after {
  background: url(../image/grid/grid4.jpg) no-repeat center left;
}
#clients_sec .grid_wrapper .grid_item05 {
  grid-area: 2/5/3/6;
  min-height: 184px;
}
#clients_sec .grid_wrapper .grid_item05::after {
  background: url(../image/grid/grid5.jpg) no-repeat center left;
}
#clients_sec .grid_wrapper .grid_item06 {
  grid-area: 3/1/4/2;
  min-height: 184px;
}
#clients_sec .grid_wrapper .grid_item06::after {
  background: url(../image/grid/grid5.jpg) no-repeat center left;
}
#clients_sec .grid_wrapper .grid_item07 {
  grid-area: 3/2/4/3;
  min-height: 184px;
}
#clients_sec .grid_wrapper .grid_item07::after {
  background: url(../image/grid/grid5.jpg) no-repeat center left;
}
#clients_sec .grid_wrapper .grid_item08 {
  grid-area: 4/1/5/2;
  min-height: 184px;
}
#clients_sec .grid_wrapper .grid_item08::after {
  background: url(../image/grid/grid5.jpg) no-repeat center left;
}
#clients_sec .grid_wrapper .grid_item09 {
  grid-area: 4/2/5/3;
  min-height: 184px;
}
#clients_sec .grid_wrapper .grid_item09::after {
  background: url(../image/grid/grid5.jpg) no-repeat center left;
}
#clients_sec .grid_wrapper .grid_item10 {
  grid-area: 3/3/4/6;
  min-height: 184px;
}
#clients_sec .grid_wrapper .grid_item10::after {
  background: url(../image/grid/grid5.jpg) no-repeat center left;
}
#clients_sec .grid_wrapper .grid_item11 {
  grid-area: 4/3/5/6;
  min-height: 184px;
}
#clients_sec .grid_wrapper .grid_item11::after {
  background: url(../image/grid/grid5.jpg) no-repeat center left;
}

/*--------------------------------------*
 * Appointment & Contact
 *--------------------------------------*/
#contact_sec {
  background: #EAEAEA;
}
#contact_sec .box {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#contact_sec .box .item {
  width: 50%;
  text-align: center;
  padding: 0 7.22vw;
  position: relative;
}
#contact_sec .box .item .title {
  font-weight: 500;
  font-size: clamp(3.2rem, 3.8888888889vw, 5.6rem);
}
#contact_sec .box .item .text {
  font-size: clamp(1.6rem, 1.25vw, 1.8rem);
  margin-top: 3.2vw;
}
#contact_sec .box .item .btn_contact {
  max-width: 80%;
  margin: 3.2vw auto 0;
}
#contact_sec .box .item .btn_contact a {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 1vw 0;
  border: 1px solid #000;
  transition: 0.3;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
}
#contact_sec .box .item .btn_contact a:hover {
  background-color: transparent;
  color: #000;
}
#contact_sec .box .item:first-child::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 27.2222222222vw;
  background-color: #545454;
  position: absolute;
  top: -4vw;
  right: -1.66vw;
}

#company_sec {
  position: relative;
}
#company_sec .company_table {
  max-width: 1100px;
  width: 53.3333333333vw;
  margin: 7.2vw auto 0;
  border-collapse: collapse;
  border-spacing: 0;
}
#company_sec .company_table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
#company_sec .company_table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
#company_sec .company_table th,
#company_sec .company_table td {
  padding: 1.8vw 0;
  border: none;
  border-bottom: 1px solid #545454;
  border-collapse: separate;
}
#company_sec .company_table th {
  width: 26%;
}
#company_sec .company_table td {
  padding-left: 10%;
}
#company_sec .other_service {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  width: 53.3333333333vw;
  margin: 5vw auto 6vw;
}
#company_sec .other_service a {
  display: block;
  width: 48%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#company_sec .other_service a:hover {
  opacity: 0.8;
}

.footer_area {
  position: absolute;
  bottom: 0;
  background: #000;
  padding: 0.4vw 0;
  width: 100%;
}
.footer_area .copyright {
  color: #fff;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */