@media screen and (max-width: 880px) {

    /*--------------------------------------*
 * Works
 *--------------------------------------*/
    .works_content {
        height: auto;
        align-items: flex-start;
    }

    .works_item {
        width: 46%;
        margin-bottom: 10.3vw;

        &:first-child {
            // margin-top: 5vw;
        }
    }

    #worksSection1 {
        .works_content {
            margin-top: 4vw !important;
        }
    }

    .waku {
        height: 23.04vw;
        top: 0%;
        left: -3%;
    }

    .fp-slides {
        overflow: visible;
    }


    /*--------------------------------------*
 * contact
 *--------------------------------------*/
    #contact_sec {
        .box {
            flex-direction: column;


            .item {
                width: 100%;
                padding: 0 4vw;
                box-sizing: border-box;

                &:first-child {
                    &::after {
                        display: none;
                    }
                }

                .btn_contact {
                    min-width: 260px;
                    width: 50vw;
                }
            }

            .item_contact {
                margin-top: 15vw;
            }
        }
    }
}


/*--------------------------------------*
 * company
 *--------------------------------------*/
#company_sec {
    .company_table {
        width: 80%;

        th,
        td {
            padding: 2rem 0;
            border: none;
            border-bottom: 1px solid #545454;
            border-collapse: separate
        }

        td {
            padding-left: 4rem;
        }
    }

    .other_service {
        width: 80%;
    }
}

@media screen and (max-width: 560px) {
    .works_section {
        height: auto;
    }

    .works_item {
        width: 100%;
    }

    .waku {
        height: 50.3vw;
        top: -1.4%;
        left: -3%;
    }
}